@import url("base.css");

.header {
	width: 100%;
	height: .88rem;
	background: #dc4860;
	padding: 0 .24rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header > i {
	font-size: .3rem;
	color: #FFFFFF;
	opacity: 0.7;
}
.header > h1 {
	font-size: .3rem;
	font-weight: normal;
	color: #FFFFFF;
}
.scroll {
	width: 100%;
	height: .8rem;
	background: #dc4860;
	/*background: linear-gradient(to right, rgb(220,72,96),rgb(235,78,104));*/
	overflow: hidden;
}
.scroll .scrollWrap {
	width: 100%;
	height: .8rem;
	padding: 0 .24rem 0;
	white-space: nowrap;
	display: flex;
	padding-left: .24rem;
	align-items: center;
}
.scroll .scrollWrap li {
	font-size: .3rem;
	color: #FFFFFF;
	opacity: 0.8;
	display: inline-block;
	margin-right: .3rem;
}
.scroll .scrollWrap li.hot {
	color: #FFFFFF;
	opacity: 1;
}
.listAll {
	position: absolute;
	top: 1.68rem;
	bottom: 0;
	width: 100%;
}
/*列表*/
.list {
	width: 100%;
	height: .8rem;
	padding: 0 .24rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.list span {
	font-size: .24rem;
	opacity: 0.7;
	line-height: .8rem;
}
.list span.hot {
	opacity: 0.8;
}
.list span i {
	font-size: .2rem;
	opacity: 0.5;
}
/*包裹层*/
.listSmall {
	width: 100%;
	height: 11.74rem;
	overflow-y: auto;
}
.listSmall::-webkit-scrollbar {
	width: 0;
}
/*商家*/
.sjList {
	width: 100%;
	height: auto;
	border: 1px solid #FFFFFF;
	/*background: #f2f2f2;*/
	margin-top: .3rem;
}
.sjList .sj {
	width: 7.02rem;
	height: 2.3rem;
	background: #FFFFFF;
	border-bottom: 1px solid #F2F2F2;
	/*border-radius: 0.15rem;*/
	/*box-shadow: 0 .02rem .13rem #cfcfcf;*/
	margin: .24rem auto;
	display: flex;
	justify-content: space-between;
}
.sjList .last {
	margin-bottom: 1.4rem;
}
.sjList .sj .sjLeft {
	width: 1.36rem;
	height: 100%;
	margin: .24rem;
	/*background: red;*/
}
.sjList .sj .sjLeft > a > img {
	display: block;
	width: 1.36rem;
	height: 1.36rem;
}
.sjList .sj .sjRight {
	/*width: 5.16rem;*/
	flex: 1;       /*左边固定,右边自适应*/
	height: 1.78rem;
	margin-top: .15rem;
	font-size: .22rem;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}
.sjList .sj .sjRight a {
	font-size: .28rem;
	color: #000000;
	opacity: 0.8;
	font-weight: bold;
}
.sjList .sj .sjRight .dj {
	width: 100%;
	height: .2rem;
	margin-top: -0.1rem;
	position: relative;
}
.sjList .sj .sjRight .dj img {
	width: 1.5rem;
	height: .2rem;
	position: absolute;
	top: 0;
	left: 0;
}
.sjList .sj .sjRight .dj .yello {
	width: 1.2rem;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.sjList .sj .sjRight .dj span {
	font-size: .2rem;
	opacity: 0.4;
	margin-left: .1rem;
	position: absolute;
	left: 1.6rem;
	top: -0.03rem;
}
.sjList .sj .sjRight .price {
	display: block;
	width: 100%;
	height: .22rem;
	/*margin-top: .1rem;*/
	opacity: 0.5;
	margin-top: -0.1rem;
}
.sjList .sj .sjRight .mj {
	width: 100%;
	height: .25rem;
	/*margin-top: .2rem;*/
}
.sjList .sj .sjRight .mj .name1 {
	display: block;
	float: left;
	width: .7rem;
	height: .25rem;
	background: #f9357b;
	opacity: 0.4;
	color: #fe9abe;
	font-size: .2rem;
	text-align: center;
	line-height: .25rem;
}
.sjList .sj .sjRight .mj .name2 {
	float: left;
	margin-left: .1rem;
	opacity: 0.5;
	line-height: .25rem;
}
.sjList .sj .sjRight .vip {
	width: 100%;
	height: .25rem;
	/*margin-top: .1rem;*/
}
.sjList .sj .sjRight .vip .name1 {
	display: block;
	float: left;
	width: .7rem;
	height: .25rem;
	background: #41bbfc;
	opacity: 0.4;
	color: #75cbf9;
	font-size: .2rem;
	text-align: center;
	line-height: .25rem;
}
.sjList .sj .sjRight .vip .name2 {
	float: left;
	margin-left: .1rem;
	opacity: 0.5;
	line-height: .25rem;
}